@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}


/* common styles*/

.display-flex {
  display: flex;
}

.btn-primary {
  font-size: 1rem;
  color: #FFFFFF;
  padding: 12.5px 30px 12.5px 16px;
  border-radius: 25px;
  background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border: none;
  cursor: pointer;
}

.bg-light {
  background-color: rgba(26, 11, 46, 1);
}

.common-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(168, 164, 164, 0.89);

  padding: 16px 0;
}

.common-section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 30px;
  text-align: center;
}

/* navigation bar styles */
.hamburger-menu {
  display: none;
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;

}

.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}

.nav-title {
  font-size: 2rem;
  font-weight: bolder;
  color: #FFFFFF;
}

.wave-color {
  background: linear-gradient(to top,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link li {
  list-style: none;
  margin-right: 45px;
  font-size: 1.25rem;
  font-weight: 500;

}

.nav-link li a {
  text-decoration: none;
  color: #FFFFFF;

}

/* banner section styles */
.banner-container {
  background-image: url(../assets/hero-circle.png), url(../assets/hero-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, cover;
  background-position: top 72px center, center center;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 75vh;
  position: relative;

}


.banner-img img {
  position: absolute;
  width: 10%;
  height: 30%;
  top: 20%;
  left: 45%;
}

.banner-img {
  padding-bottom: 200px;
}

.banner-contant {
  padding-top: 80px;
}


.banner-title {
  font-size: 3rem;
  font-weight: bolder;
  color: #FFFFFF;
}

.new-badge {
  background-color: #00FF88;
  color: #1A0B2E;
  padding: 8px 16px;
  border-radius: 25px;
  position: absolute;
  top: 14%;
  left: 55%;
  animation: badge 1s infinite;
}

@keyframes badge {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(221, 36, 118, 0.7);
  }

  50% {
    transform: scale(1.2);
    box-shadow: 0 0 0 12px rgba(221, 36, 118, 0);
    color: #FFFFFF;
    background-color: black;

  }

  100% {
    transform: scale(1);
  }
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
}

.banner-contant img {
  padding-top: 20px;
  text-align: center;
  width: 20px;
  height: 40px;
}

.banner-btn {
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.spotify-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border-radius: 20px;

  padding: 0 50px;
  font-size: 1.25rem;
  height: 45px;
  cursor: pointer;

}

.btn-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00FF88;
  border: 1px solid #00FF88;
  border-radius: 20px;
  padding: 0 35px;
  background-color: rgba(26, 11, 46, 1);
  height: 45px;
  cursor: pointer;

}

.icon-message {
  padding: 0 10px 18px 0;
}

.btn-message img {
  width: 90%;
  height: 90%;
}


/* podcast section styles */

.podcast-container {
  background-color: rgba(26, 11, 46, 1);
  padding: 70px 0;
}

.podcast-contant {
  text-align: center;
  width: 50%;
  margin: 0 auto
}

.podcast-ratings {
  text-align: center;
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.podcast-rating h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #00FF88;
}

.podcast-rating p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #FFFFFF;
}

.fa-star {
  font-size: 2rem;

}

/* techwave section styles */

.techwave-container {
  background-color: rgba(35, 14, 61, 1);
  padding: 70px 0;
}

.tachwave-contant img {
  width: 40px;
  height: 45px;

}

.techwave-contants {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 220px);
  gap: 30px;
}

.tachwave-contant {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
  padding: 20px 0 20px 20px;
}

.tachwave-contant h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  padding: 5px 0;

}

.tachwave-contant p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(168, 164, 164, 0.89);
  padding-bottom: 10px;

}

.double-row {
  grid-column: span 1;
  grid-row: span 2;
}

.double-column {
  grid-column: span 2;
  grid-row: span 1;
}

.exclusive-img img {
  width: 80px;
  height: 50px;
}

/* featured container styles */
.featured-container {
  background-color: rgba(26, 11, 46, 1);
  padding: 70px 0;
}

.featured-contants {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.featured-contant {

  background-color: rgba(37, 13, 68, 1);
  border-radius: 15px;
}

.featured-contant h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  padding: 10px 0;
}

.featured-contant p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(223, 204, 204, 0.89);
}

.you-vedio iframe {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-info {
  padding: 5px 10px 15px 10px;
}

#clock {
  color: #00FF88;
  padding-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;

}

/* host section styles */
.host-container {
  background-color: rgba(26, 11, 46, 1);
  padding: 70px 0;
}

.host-contants {
  background-color: rgba(37, 13, 68, 1);
  border-radius: 15px;
  padding: 30px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}

.single-column {
  grid-column: span 1;
}

.triple-column {
  grid-column: span 3;
}

.host-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  padding: 10px 0;
}

.host-info p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(223, 204, 204, 0.89);
  padding-bottom: 10px;
}

.host-icons {
  display: flex;
  gap: 10px;


}

.host-icons img {
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  padding: 10px;
}

/* footer-section- styles */
.footer-container {
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  height: 50vh;

  align-items: center;
  justify-content: center;


}

.social-icons {

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 32px 0;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-title {
  font-size: 4rem;
  font-weight: bolder;
  color: #FFFFFF;
}

.footer-contants p {
  font-size: 1.25rem;
  color: rgba(168, 164, 164, 0.89);

}

/* for small device responsive */
@media screen and (max-width:576px) {
  .hamburger-menu {
    display: block;
  }

  .nav-link,
  .nav-btn {
    display: none;
  }

  .nav-bar {


    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
  }

  /* banner media styles */
  .banner-container {
    background-position: top 135px center, center center;
    height: 420px;
    padding: 0 50px;
    position: relative;

  }

  .banner-img img {
    position: absolute;
    width: 50px;
    height: 70px;

  }

  .banner-contant {
    padding-top: 50px;
  }

  .new-badge {
    padding: 2px 8px;
    top: 30%;
    left: 55%;
  }

  .banner-img img {
    position: absolute;
    top: 35%;
    left: 45%;
    text-align: center;
    width: 10%;
    height: 15%;


  }

  .banner-btn {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .spotify-btn {
    padding: 0 10px;
    font-size: 14px;
  }

  .btn-message img {
    width: 15px;

  }

  /* podcast media style */
  .podcast-contant {
    width: 90%;
    margin: 0 auto
  }

  .podcast-ratings {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .podcast-rating h2 {
    font-size: 2rem;

  }

  .podcast-rating p {
    font-size: 1rem;
  }

  .fa-star {
    font-size: 1.5rem;
  }

  /* techwave media styles */
  .techwave-container {
    padding: 40px 0;
  }

  .tachwave-contant img {
    width: 30px;
    height: 35px;

  }


  .techwave-contants {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 250px);


  }

  .double-row {
    grid-column: span 1;
    grid-row: span 1;
  }

  .double-column {
    grid-column: span 1;
    grid-row: span 1;
  }

  /* featured media styles */
  .featured-container {
    padding: 30px 0;
  }

  .featured-contants {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  /* host media styles */
  .host-container {
    text-align: center;
    padding: 15px 0;
  }

  .host-contants {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }

  .single-column {
    grid-column: span 1;
  }

  .triple-column {
    grid-column: span 1;
  }

  .host-icons {
    display: flex;
    gap: 10px;


  }

  .host-icons {
    display: flex;
    gap: 10px;


  }

  .host-icons {
    align-items: center;
    justify-content: center;

  }

  /* footer media styles */

  .footer-container {
    text-align: center;
    width: 100%;

    height: 100px;
    padding: 80px 30px;
  }

  .footer-contants {
    padding: 10px 30px;
  }

  .social-icons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px 0;
  }

  .social-icon {
    gap: 5px;
  }

  .social-icon img {
    width: 70%;

  }

  .footer-contants p {
    font-size: 12px;
    color: rgba(168, 164, 164, 0.89);

  }

  .footer-title {
    font-size: 2rem;
    font-weight: bolder;
    color: #FFFFFF;
  }
}