@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-inter {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;

}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

main {
 max-width: 1440px;
 margin: 0 auto;
}

main>section {
 padding: 100px 0;
}

/* common styles*/

.display-flex {
 display: flex;
}

.btn-primary {
 font-size: 1rem;
 color: #FFFFFF;
 padding: 12.5px 30px 12.5px 16px;
 border-radius: 25px;
 background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
 border: none;
}

.bg-light {
 background-color: rgba(26, 11, 46, 1);
}

/* navigation bar styles */
.nav-bar {
 max-width: 1440px;
 margin: 0 auto;
 align-items: center;
 justify-content: space-around;
 padding: 30px 0;
}

.nav-title {
 font-size: 2rem;
 font-weight: bolder;
 color: #FFFFFF;
}

.wave-color {
 background: linear-gradient(to top,
   rgba(247, 233, 63, 1),
   rgba(251, 9, 180, 1),
   rgba(145, 0, 248, 1));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.nav-link li {
 list-style: none;
 margin-right: 45px;
 font-size: 1.25rem;
 font-weight: 500;

}

.nav-link li a {
 text-decoration: none;
 color: #FFFFFF;

}